.certificados-container {
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  padding-top: 7rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

.certificado-card {
  scroll-snap-align: start;
  width: 300px;
  height: 400px;
  transition: transform 0.2s ease;
  transform-origin: bottom center;
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 1.8rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 10;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &-esquerda {
    left: 40px;
  }

  &-direita {
    right: 40px;
  }
}

@media (max-width: 1024px) {
  .certificado-card {
    width: 80%;
  }

  .certificados-container {
    gap: 3rem;
    padding-top: 3rem;
  }

  .seta {
    display: none;
  }
}

@media (max-width: 768px) {
  .certificado-card {
    width: 104%;
    height: auto;
  }

  .certificados-container {
    gap: 1.5rem;
    padding-top: 2rem;
  }

  .seta {
    display: none;
  }
}
