@use 'bootstrap';
@use 'bootstrap-icons';

$cor-principal: #2775ad;
$cor-secundaria: #000000;

$cor-background-1: #3d3997;
$cor-background-2: #242527;

section {
  display: flex;

  min-height: 100vh;
  margin-top: auto;
  margin-bottom: auto;
}

.app-background-secundario {
  background-color: $cor-background-1;
}

.app-banner-text {
  background: linear-gradient(90deg, rgba(9, 111, 122, 0.906), rgba(133, 173, 226, 0.925) 60%);
  background-clip: text;
  color: transparent;
}

.app-btn-principal {
  background-color: $cor-principal;

  &:hover {
    background-color: #7ac3db;
  }
}

.app-bg-foto {
  background: linear-gradient(90deg, rgba(9, 111, 122, 0.906), rgba(133, 173, 226, 0.925) 60%);
  border-radius: 33% 67% 53% 47% / 66% 41% 59% 34%;
  height: 22rem;
  width: 22rem;
  margin-right: auto;
  overflow: hidden;
}

.app-bg-foto img {
  height: 110%; // ocupa toda a altura do container
  width: auto; // mantém proporção
  object-fit: cover; // corta se a proporção não bater
  margin-left: 20px; /* empurra só a imagem */
}
